.el-input__inner{
    height: 32px;
    line-height: 32px;
}

.el-button{
    padding: 8px 20px;
}

/* .el-form-item{
    margin-bottom: 0px;
} */
.el-col-1{
    text-align: center;
}
.el-form-item__label{
    padding: 0 11px 0 0 ;
}
.el-main{
    padding-top: 0px;
}